<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- <properties resource="mybatis/db-config.properties">
	</properties> -->

	<typeAliases>  
  		<!--给实体类起一个别名 user -->  
  		<typeAlias type="mybatis.spring.demo.pojo.Teacher" alias="Teacher" />
 	</typeAliases>  
	<mappers>
		<mapper resource="mybatis/spring/demo/pojo/TeacherMapper.xml" />
	</mappers>
</configuration>